/* Position Stylesheet */


#wrap {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	position: absolute;
	top: 20px;
	left: 17px;
}

#nr4{
	position: relative;
	left: 56px;
	top: 10em;
	width: 7em;
}

.xxx {
	position: fixed;
	top: 100px;
	left: 45px;
	width: 10em;
	height: 9em;
	overflow: hidden;
	border: solid 10px red;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 25px;
	padding: 5px;
}
