/* 
* CSS ZENGARDEN - THE MOBILE QUEST
*/

/* MOBILE FIRST */

/*
The mobile first design principle means what it says.
Begin developing the "smallest" mobile design.
Here are some mobile styles.
*/

/* fonts */
@import url("http://fonts.googleapis.com/css?family=Aguafina+Script");

h1 {
	font-family: 'Aguafina Script', cursive;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	color: purple;
	display: block;
	background-color: black;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
}

/* Galaxy s III horizontal (1280 x 720) */

@media (max-width: 200px) { 

	body {
		background-color: silver;
	}

	.selector {
		padding: 0;
		margin: 0;
		}

	.page-wrapper {
		background-color: yellow;
		font-size: 1em;
	}	

}

@media (max-width: 500px) { 

	h1 {
		font-size: 1.2em;
		color: yellow;
		clear: both;
		position: relative;
		width: 100%;
		left: 0px;
		top: 0px;
		margin-right: auto;
		margin-left: auto;
	}



	body {
		background-color: green;
	}

	.selector {
		padding: 0;
		margin: 0;
		}

	.page-wrapper {
		margin: .3em;
		background-color: yellow;
		font-size: 1.5em;
		padding: 20px;
	}	

}

@media (min-width: 510px) { 

	body {
		background-color: purple;
		font-size: 1.2em;
	}

	.selector {
		padding: 0;
		margin: 0;
		}

	.page-wrapper {
		background-color: pink;
		font-size: 0.8em;
		padding: 1.5em;
		width: 20em;
		margin-left: auto;
		margin-right: auto;
	}	

}

/* Print (often serif fonts are better for print) */

@media print {
	body {
		font-size: 15pt;
		font-family: "Times New Roman", Georgia, Serif;
	}
}